
footer{

#terciary {
    padding-block: 24px;
    border-top: solid 1px var(--stroke-color);
    border-inline: none;
    justify-content: space-around;

}

p {
    display: flex;
    flex-direction: column;
    padding-block: 24px;
    margin: auto;
    align-items: center;
}
}